<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>attack</title>
</head>
<body>
    <div class="container">
        <h2>Attack</h2>
        <div class="row">
          <div class="col-6">
            <h3>Your Pokemon</h3>
            <img src="{{ current_user_pokemon.front_shiny }}" alt="{{ current_user_pokemon.name }}">
            <table>
              <tr>
                <th>Stat</th>
                <th>Value</th>
              </tr>
              <tr>
                <td>HP</td>
                <td>{{ current_user_pokemon.hp }}</td>
              </tr>
              <tr>
                <td>Defense</td>
                <td>{{ current_user_pokemon.defense }}</td>
              </tr>
              <tr>
                <td>Attack</td>
                <td>{{ current_user_pokemon.attack }}</td>
              </tr>
            </table>
          </div>
          <div class="col-6">
            <h3>Opponent's Pokemon</h3>
            <img src="{{ target_user_pokemon.front_shiny }}" alt="{{ target_user_pokemon.name }}">
            <table>
              <tr>
                <th>Stat</th>
                <th>Value</th>
              </tr>
              <tr>
                <td>HP</td>
                <td>{{ target_user_pokemon.hp }}</td>
              </tr>
              <tr>
                <td>Defense</td>
                <td>{{ target_user_pokemon.defense }}</td>
              </tr>
              <tr>
                <td>Attack</td>
                <td>{{ target
</body>
</html>